<div class="container">
  <p-toast />
  <div class="grid-upload p-4 gap-4">
    <!-- Examiner Upload Card -->
    <div>
      <p-card header="Upload Examiner Data" class="rounded-2xl shadow-2">
        <p-fileUpload mode="basic" accept=".xlsx" chooseLabel="Upload Examiner File"
          (onSelect)="onFileSelect($event, 'examiner')" class="w-full mt-2"></p-fileUpload>
        @if (uploadStatus.examiner.progress > 0 && uploadStatus.examiner.progress < 100) { <p-progressBar
          [value]="uploadStatus.examiner.progress" class="mt-2"></p-progressBar>
          }

          @if (uploadStatus.examiner.error) {
          <div class="text-red-600 mt-2">
            ✘ {{ uploadStatus.examiner.error }}
          </div>
          }
      </p-card>
    </div>

    <!-- Examinee Upload Card -->
    <div>
      <p-card header="Upload Examinee Data" class="rounded-2xl shadow-2">
        <p-fileUpload mode="basic" accept=".xlsx" chooseLabel="Upload Examinee File"
          (onSelect)="onFileSelect($event, 'examinee')" class="w-full mt-2"></p-fileUpload>

        @if (uploadStatus.examinee.progress > 0 && uploadStatus.examinee.progress < 100) { <p-progressBar
          [value]="uploadStatus.examinee.progress" class="mt-2"></p-progressBar>
          }

          @if (uploadStatus.examinee.error) {
          <div class="text-red-600 mt-2">
            ✘ {{ uploadStatus.examinee.error }}
          </div>
          }
      </p-card>
    </div>

    <!-- Standardized Client Upload Card -->
    <div>
      <p-card header="Upload Standardized Client Data" class="rounded-2xl shadow-2">
        <p-fileUpload mode="basic" accept=".xlsx" chooseLabel="Upload Client File"
          (onSelect)="onFileSelect($event, 'standardizedClient')" class="w-full mt-2"></p-fileUpload>

        @if (uploadStatus.standardizedClient.progress > 0 && uploadStatus.standardizedClient.progress<100) {
          <p-progressBar [value]="uploadStatus.standardizedClient.progress" class="mt-2"></p-progressBar>
          }

          @if (uploadStatus.standardizedClient.error) {
          <div class="text-red-600 mt-2">
            ✘ {{ uploadStatus.standardizedClient.error }}
          </div>
          }
      </p-card>
    </div>
  </div>

  <div class="grid-upload p-4 gap-4">
    <!-- Examiner Preview -->
    <div>
      @if (examinerData() && examinerData().length > 0) {
      <p-table [value]="examinerData()" [responsiveLayout]="'scroll'" scrollable="true" scrollHeight="200px"
        class="p-datatable-sm p-mt-4">
        <ng-template pTemplate="header">
          <tr>
            <th>Examiner</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr>
            <td>{{ row.name || ('Examiner ' + (i + 1)) }}</td>
          </tr>
        </ng-template>
      </p-table>
      }
    </div>

    <!-- Examinee Preview -->
    <div>
      @if (examineeData() && examineeData().length > 0) {
      <p-table [value]="examineeData()" [responsiveLayout]="'scroll'" scrollable="true" scrollHeight="200px"
        class="p-datatable-sm p-mt-4">
        <ng-template pTemplate="header">
          <tr>
            <th>Examinee</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr>
            <td>{{ row.name || ('Examinee ' + (i + 1)) }}</td>
          </tr>
        </ng-template>
      </p-table>
      }
    </div>

    <!-- Standardized Client Preview -->
    <div>
      @if (standardizedClientData() && standardizedClientData().length > 0) {
      <p-table [value]="standardizedClientData()" [responsiveLayout]="'scroll'" scrollable="true" scrollHeight="200px"
        class="p-datatable-sm p-mt-4">
        <ng-template pTemplate="header">
          <tr>
            <th>Client</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr>
            <td>{{ row.name || ('Client ' + (i + 1)) }}</td>
          </tr>
        </ng-template>
      </p-table>
      }
    </div>
  </div>

  <p-card header="Configure Administration Structure" styleClass="mb-4 rounded-lg shadow-md">
    <form [formGroup]="form" (ngSubmit)="generateStructure()" class="formgrid grid">

      <div class="field col-12 md:col-4">
        <label for="admins" class="font-semibold mb-2 block">Number of Admins</label>
        <p-inputNumber inputId="admins" formControlName="adminCount" [min]="1" [useGrouping]="false" class="w-full"
          [class.p-invalid]="f['trackCount'].invalid && f['trackCount'].touched" />
        @if (f['trackCount'].invalid && f['trackCount'].touched) {
        <small class="p-error">Minimum is 1</small>
        }
      </div>

      <div class="field col-12 md:col-4">
        <label for="tracks" class="font-semibold mb-2 block">Number of Tracks</label>
        <p-inputNumber inputId="tracks" formControlName="trackCount" [min]="1" [useGrouping]="false" class="w-full"
          [class.p-invalid]="f['trackCount'].invalid && f['trackCount'].touched" />
        @if (f['trackCount'].invalid && f['trackCount'].touched) {
        <small class="p-error">Minimum is 1</small>
        }
      </div>

      <div class="field col-12 md:col-4">
        <label for="stations" class="font-semibold mb-2 block">Number of Stations</label>
        <p-inputNumber inputId="stations" formControlName="stationCount" [min]="1" [useGrouping]="false" class="w-full"
          [class.p-invalid]="f['stationCount'].invalid && f['stationCount'].touched" />
        @if (f['stationCount'].invalid && f['stationCount'].touched) {
        <small class="p-error">Minimum is 1</small>
        }
      </div>

      <div class="col-12 flex justify-content-end mt-4">
        <p-button type="submit" label="Generate Structure" icon="pi pi-check"></p-button>
      </div>

    </form>
  </p-card>

  <div class="table-grid">
    <p-card>
      @if (adminsTree() && adminsTree().length > 0 ) {
      <div class="p-4">
        <p-tree [value]="adminsTree()" styleClass="w-full md:w-[30rem]" [draggableNodes]="true" [droppableNodes]="true"
          draggableScope="self" droppableScope="self" (onNodeDrop)="onNodeDrop($event)"></p-tree>
      </div>
      }
    </p-card>

    <p-card>
      <p-button (onClick)="showSchedule.set(true)"
        [disabled]="(!(examineeData() && examineeData().length > 0 && generatedData() && generatedData().length > 0))">
        Generates schedule
      </p-button>

      @if (showSchedule()) {
      <p-table [value]="examineeData()" class="p-datatable-sm p-mt-4">
        <ng-template pTemplate="header">
          <tr>
            <th>Examinee</th>
            <th>Round</th>
            <th>Station</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-i="rowIndex">
          <tr>
            <td>{{ row.name || ('Examinee ' + (i + 1)) }}</td>
            <td>{{ 'round ' + getRound(i) }}</td>
            <td>{{ 'station ' + getStation(i) }}</td>

          </tr>
        </ng-template>
      </p-table>
      }
    </p-card>
  </div>

</div>